@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232830;
  font-family: 'Poppins', sans-serif;
}
.main-container {
  width: 80vw;
  max-width: 100vw;
  margin: 0px auto;
  overflow: hidden;
}
.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  font-size: 18px;
}
.logo span {
  font-size: 24px;
  font-weight: 400;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar ul li {
  padding: 0px 14px;
  cursor: pointer;
}

.hero-section {
  margin: 0px auto;
  color: white;
  text-align: center;
}
.hero-section img {
  margin: 14px 0px;
  width: 20%;
}
.hero-section span {
  display: block;
  font-size: 60px;
  font-weight: 500px;
  font-family: 'Recursive', sans-serif;
  font-style: italic;
  color: #ff7575;
}
.hero-section p {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0px;
}

.divider {
  margin: 0px auto;
  margin-top: 30px;
}
.divider ul {
  display: flex;
  list-style: none;
  color: #909090;
  font-family: 'Recursive', sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
}
.divider ul li {
  margin: 0px 20px;
  cursor: pointer;
}
.two-icons i {
  margin: 0px 2px;
}

.line {
  margin-top: 20px;
  height: 2px;
  margin: 0px auto;
  width: 100vw;
  background-color: #6464643f;
}

.two-icons img {
  width: 32%;
}

.grid {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
  row-gap: 30px;
}

.card {
  background-color: white;
  width: 330px;
  height: 370px;
  max-height: 470px;
  border-radius: 20px;
  padding: 20px;
}
.card:hover {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.418);
}
.card img {
  width: 290px;
  height: 200px;
  border-radius: 10px;
}
.card h4 {
  font-weight: 600;
}
.card p {
  font-size: 14px;
}
.card .rating-price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 40px;
  font-weight: 600;
}
.page-navigation {
  /* background-color: red; */
  width: 400px;
  margin: 100px auto;
}
.page-navigation ul {
  display: flex;
  list-style: none;
  color: #909090;
  font-size: 20px;
  font-style: italic;
  font-family: 'Recursive', sans-serif;
}
.page-navigation ul li {
  margin: 0px 15px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 70px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

footer button {
  padding: 6px 15px;
  background-color: #4699e0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.logo-bottom {
  display: flex;
  align-items: center;
}
.follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-bottom span {
  font-size: 22px;
  margin-right: 10px;
}

.active-page {
  color: #ff7575;
  border-top: 3px solid #ff7575;
}
