body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.tic-tac-toe {
  text-align: center;
}

h1 {
  font-size: 24px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  border: solid red 2px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
