body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  border: 1px solid #333;
  border-radius: 5px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  text-align: right;
  padding: 10px;
}

input[type='text'] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: none;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}
